<div class="container">
  <mat-card>
  <h2>USUARIOS EXISTENTES</h2>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Username</th>
        <th>Numero Celular</th>
        <th>Correo</th>
        <th>Dirección</th>
        <th>Foto de Perfil</th>
        <th>Fecha Nacimiento</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <td data-label="User ID">{{ account.userId }}</td>
        <td data-label="First Name">{{ account.firstname }}</td>
        <td data-label="Last Name">{{ account.lastname }}</td>
        <td data-label="Username">{{ account.username }}</td>
        <td data-label="Phone Number">{{ account.phoneNumber }}</td>
        <td data-label="Email">{{ account.email }}</td>
        <td data-label="Address">{{ account.address }}</td>
        <td data-label="Profile Picture"><img [src]="account.profilePicture" alt="Profile Picture" width="50" height="50"/></td>
        <td data-label="Birth Date">{{ account.birthDate }}</td>
        <td data-label="Is Active">
          <label class="switch">
            <input type="checkbox"  [(ngModel)]="account.active" (change)="toggleAccountStatus(account)">
            <span class="slider round"></span>
          </label>
        </td>
      </tr>
    </tbody>
    </table>
</mat-card>
</div>
