<div class="stats-container">
  <!-- Tarjeta de Reservas -->
  <mat-card class="stat-card">
    <mat-card-content>
      <div class="stat-title">
        <h2>Reservas</h2>
      </div>
      <div class="stat-content">
        <div class="chart-container">
          <canvas id="MyChartReservations"></canvas>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

  <!-- Tarjeta de Ingresos -->
  <mat-card class="stat-card">
    <mat-card-content>
      <div class="stat-title">
        <h2>Ingresos</h2>
      </div>
      <div class="stat-content">
        <div class="chart-container">
          <canvas id="MyChartIncomes"></canvas>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</div>
