.stats-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .stat-card {
    width: 100%;
    max-width: 900px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .stat-title {
    text-align: start;
    margin-bottom: 30px;
  }
  
  .stat-content {
    text-align: center;
    font-size: 1.5em;
  }

  .chart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    height: 400px;
    padding: 10px; 
  }

  canvas {
    display: block;
    max-width: 100%;
    height: auto;
  } 



  